## 整数索引

In [3]:
import pandas as pd
import numpy as np

In [8]:
ser = pd.Series(np.arange(3.))
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [11]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

2.0

In [14]:
ser[:1]

0    0.0
dtype: float64

In [16]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [18]:
ser.iloc[:1]

0    0.0
dtype: float64

In [20]:
ser.loc[1:]

1    1.0
2    2.0
dtype: float64

In [22]:
ser.iloc[1:]

1    1.0
2    2.0
dtype: float64

## 算数运算和数据对齐

In [23]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [24]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [25]:
s1 + s2 # 自动的数据对齐操作在不重叠的索引出引入了NA值.缺失值会在算数运算过程中传播

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

##### 对于DataFrame,对齐操作会同时发生在行和列上,把他们相加后会返回一个新的DataFrame,其索引和列为原来那两个DataFrame的并集

In [33]:
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})
df1

   A
0  1
1  2

In [29]:
df2

   B
0  3
1  4

In [36]:
df1 - df2

    A   B
0 NaN NaN
1 NaN NaN

#### 在算数方法中填充值

In [38]:
df1 = pd.DataFrame(np.arange(12.).reshape(3, 4), columns=list('abcd'))
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0